
NavLink {
    padding: 5px;
}
a {padding: 10px;}
.link {
    text-align: right;
    white-space: nowrap;
}
body {
    padding-top: 60px;
}
/* 
#otherLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    gap: 10px;
} */
